/* Banner Section */

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  header {
    background-image: url('assets/Hero-bg.png');
    background-r epeat: no-repeat;
    /* background-position-x: center; */
       
  }

  .header-container {    
    text-align: center;
    /* width: 998px;
    height: 581px; */
    
  }

  .header-title {
    font-size: 48px;
    font-weight: 800;
  }
  .header-description {
    font-size: 16px;
    color: rgb(13, 19, 33);
    opacity: 70%;
    /* color: #0D1321; */
  }

  .btn-primary {
    background-color: #0D1321;
    color: #FFFFFF;
    font-size: 20px;
    width: 244px;
    height: 65px;
    border-radius: 8px;
    
  }

  /* About/development section */

  .layer-1 {
    display: flex;
  }

  .layer-2 {
    display: flex;
  }

  .layer-3 {
    display: flex;
  }

  .layer-title {
    color: #0D1321;
    font-size: 24px;
    font-weight: 700;
    opacity: 70%;
    
  }

  .layer-description {
    color: #0D1321;
    opacity: 70%;    
  }
  .btn-secondary {
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    opacity: 70%;
    height: 47px;
    width: 171px;
  }
  /* Inspiration section */
  .inspiration {
    text-align: center;

  }
  /* Current target section */
  .targeted-subject {
    display: flex;
  }

  /* Feedback section */
  .feedback {
    background-image: url('assets/handshake.jpg');
    background-repeat: no-repeat;
    text-align: center;
  }
  .feedback-title {
    font-size: 32px;
    color: white;
  }
  .feedback-description {
    font-size: 16px;
    color: white;
    opacity: 70%;
  }
  .feedback-form {
    width: 684px;
    height: 57px;
  }
  .btn-submit {
    width: 120px;
    height: 57px;
  }
  /* Footer section */
  footer {
    display: flex;
    justify-content: space-between;
  }