/* Banner Section */

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  header {
    background-image: url('assets/Hero-bg.png');
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto;
    
    /* background-position-x: center; */
       
  }

  .header-container {    
    text-align: center;
    /* width: 998px;
    height: 581px; */
    
    
  }

  .header-title {
    font-size: 48px;
    font-weight: 800;
  }
  .header-description {
    font-size: 16px;
    color: rgb(13, 19, 33);
    opacity: 70%;
    /* color: #0D1321; */
  }

  .btn-primary {
    background-color: #0D1321;
    color: #FFFFFF;
    font-size: 20px;
    width: 244px;
    height: 65px;
    border-radius: 8px;
    
  }

  /* About/development section */
  .development {     
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;    
  }
  .development-header {
    text-align: center;
  }

  .development-title {
    font-size: 32px;
    font-weight: 800;
  }
  .development-description {
    font-size: 16px;
    opacity: 70%;
  }
  .text-part {
    max-width: 477px;
  }
  .img-part {
    max-width: 240px;
  }

  .layer-1 {
    display: flex;
    justify-content: space-between;
    margin: 80px 97px;
  }

  .layer-2 {
    display: flex;
    justify-content: space-between;
    margin: 80px 97px;
  }

  .layer-3 {
    display: flex;
    justify-content: space-between;
    margin: 80px 97px;
  }

  .layer-title {
    color: #0D1321;
    font-size: 24px;
    font-weight: 700;
    opacity: 70%;
    
  }

  .layer-description {
    color: #0D1321;
    opacity: 70%;    
  }
  .btn-secondary {
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    opacity: 70%;
    height: 47px;
    width: 171px;
  }
  /* Inspiration section */
  .inspiration {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;

  }
  .inspiration-title {
    color: #0D1321;
    font-size: 24px;
    font-weight: 700;
    opacity: 70%;

  }
  .inspiration-description {
    font-size: 16px;
    opacity: 70%;
    max-width: 852px;
    margin: 0 auto;
  }

  
  /* Current target section */
  .target-header {
    text-align: center;
    max-width: 852px;
    margin: 0 auto;

  }
  .targeted-subject {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
  }

  .target-title {
    color: #0D1321;
    font-size: 24px;
    font-weight: 700;
    opacity: 70%;

  }
  .target-description {
    font-size: 16px;
    opacity: 70%;


  }

  /* Feedback section */
  .feedback {
    background-image: url('assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    max-width: 1140px;    
    margin: 0 auto;
    text-align: center;
  }
  .feedback-title {
    font-size: 32px;
    color: white;
  }
  .feedback-description {
    max-width: 730px;
    margin: 0 auto;
    font-size: 16px;
    color: white;
    opacity: 70%;
  }
  .feedback-form {
    width: 684px;
    height: 57px;    
  }
  .btn-submit {
    width: 120px;
    height: 57px;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    text-align: center;
  }
  /* Footer section */
  footer {
    max-width: 1140px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;  
  }

  .footer-text {
    padding-left: 150px;
  }